.socials {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;
    margin-top: -0.8rem;
}

.socials a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.25rem;
    border-radius: 0.3rem;
    font-weight: normal;
    color: var(--text-color-dark);
    text-shadow: 0 0.1rem 0.1rem var(--drop-shadow-color-dark);
}

.socials svg {
    height: 1.5rem;
    filter: drop-shadow(0 0.1rem 0.1rem var(--drop-shadow-color-dark));
}

.black-logo, .email {
    background-color: #2f2f2f;
}

.black-logo:hover, .email:hover {
    background-color: #3e3e3e;
}

.black-logo img {
    height: 1.35em;
}