/* Variables */
:root {
    --bg-color: #fdfdfd;
    --bg-grandient-color: #cacaca;
    --bg-color-dark: black;
    --bg-grandient-color-dark: #2b2b2b;
    --text-color: black;
    --text-color-dark: #ffffffec;
    --text-drop-shadow-color: #f4f4f4;
    --drop-shadow-color: #777777;
    --drop-shadow-color-dark: black;
    --link-color: #1070ff;
    --link-color-dark: #60a0ff;
    --link-hover-color: #5294ff;
    --link-hover-color-dark: #9ec5ff;
    --actions-text-color: #000000d5;
    --actions-text-color-dark: #eeeeeef3;
    --actions-hover-color: black;
    --actions-hover-color-dark: #fffffffb;
    --grey-text: #929292;
}

/* Utility classes */
.centered-text {
    text-align: center;
}

.vertical-gaps {
    display: grid;
    gap: 3rem;
}

.actions a {
    color: var(--actions-text-color);
}

.actions a:hover {
    color: var(--actions-hover-color);
}

.button {
    filter: drop-shadow(0 0.1rem 0.1rem var(--drop-shadow-color));
}

/* Website */
body {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    font-family: DM Sans;
    background: linear-gradient(var(--bg-color), var(--bg-grandient-color));
    background-attachment: fixed;
    color: var(--text-color);
    font-size: 1.05rem;
    font-weight: 500;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

img {
    filter: drop-shadow(0 0.1rem 0.1rem var(--drop-shadow-color));
    border-radius: 0.4rem;
}

.wrapper {
    display: grid;
    height: 100vh;
}

nav {
    place-self: start stretch;
    display: grid;
    grid-template-columns: 0 auto;
    font-size: 1rem;
    padding: 1rem;
}

.pages {
    place-self: center;
    display: flex;
    gap: 2rem;
}

.main-content {
    padding: 1rem 20rem 2rem 20rem;
    display: grid;
}

footer {
    place-self: end stretch;
    font-size: 0.72rem;
    padding: 0.5rem;
}

noscript {
    display: block;
    padding: 0.5rem;
}

.footer-links {
    display: none;
}

.visible-footer-links {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 45em;
}

@media (max-width: 1380px) {
    .main-content {
        padding: 1rem 2rem 2rem 2rem;
    }

    img {
        max-width: 30em;
    }
}

@media (max-width: 530px) {
    nav {
        gap: 1rem;
        grid-template-columns: auto;
    }

    .home-link {
        place-self: center;
    }

    .pages {
        place-self: center;
        display: grid;
        gap: 1rem;
        margin: 0;
    }

    img {
        max-width: 20em;
    }
}

@media (prefers-color-scheme: dark) {
    .actions a {
        color: var(--actions-text-color-dark);
    }

    .actions a:hover {
        color: var(--actions-hover-color-dark);
    }

    .button {
        filter: drop-shadow(0 0.1rem 0.1rem var(--drop-shadow-color-dark));
    }

    body {
        background: linear-gradient(var(--bg-color-dark), var(--bg-grandient-color-dark));
        background-attachment: fixed;
        color: var(--text-color-dark);
        font-weight: normal;
    }

    a {
        color: var(--link-color-dark);
    }
    
    a:hover {
        color: var(--link-hover-color-dark);
    }

    img {
        filter: drop-shadow(0 0.1rem 0.1rem var(--drop-shadow-color-dark));
    }
}